@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.seat{
    height: 25px;
    width: 25px;
    text-align: center;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    border-radius: 2px;
    line-height: 23px;
    border: 2px solid #1ea83c;
    color: #1ea83c;
    font-weight: 600;
    cursor: pointer;
}
.seat:hover{
    color: white;
    background-color: #1ea83c;
}
.seatSelected{
    height: 25px;
    width: 25px;
    text-align: center;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    border-radius: 2px;
    line-height: 23px;
    border: 2px solid #1ea83c;
    color: white;
    background-color: #1ea83c;
    font-weight: 600;
    cursor: pointer;
}
.unavailable{
    height: 25px;
    width: 25px;
    text-align: center;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    border-radius: 2px;
    line-height: 23px;
    border: 2px solid grey;
    color: white;
    background-color:#b5b8bf;
    font-weight: 600;
    cursor: pointer;
}